In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import LabelEncoder
import lightgbm as lgb
import gc
from lightgbm import LGBMRegressor

In [2]:
def csv_to_parquet(csv_path, save_name):
    df = pd.read_csv(csv_path)
    df.to_parquet('./' + save_name + '.parquet')
    del df
    gc.collect()
    print(save_name, 'Done.')

In [3]:
# pyarrow 설치 해야함, 9.0.0
csv_to_parquet('C:/Users/soy66/Downloads/open/open/train.csv', 'train')
csv_to_parquet('C:/Users/soy66/Downloads/open/open/test.csv', 'test')

train Done.
test Done.

In [4]:
train = pd.read_parquet('./train.parquet')
test = pd.read_parquet('./test.parquet')

In [5]:
# [요일, 시작 지점의 회전제한 유무, 도착지점의 회전제한 유무]
str_col = ['day_of_week','start_turn_restricted','end_turn_restricted']
for i in str_col:
    le = LabelEncoder()
    le=le.fit(train[i])
    train[i]=le.transform(train[i])
    
    for label in np.unique(test[i]):
        if label not in le.classes_: 
            le.classes_ = np.append(le.classes_, label)
            
    print(i, le.classes_)
    test[i]=le.transform(test[i])

day_of_week ['금' '목' '수' '월' '일' '토' '화']
start_turn_restricted ['126.5066933' '126.5689231' '126.5692232' '126.5812301' '126.5815291'
 '33.25667094' '33.51983236' '33.52126402' '없음' '있음']
end_turn_restricted ['126.5063927' '126.5066933' '126.5070142' '126.5815291' '126.5918723'
 '33.25667094' '33.49671062' '33.49686337' '33.50147749' '33.50162703'
 '33.51983236' '33.52109762' '33.52126402' '33.52139902' '서호동' '없음' '있음']

In [6]:
y_train = train['target'] 

# [아이디, 날짜, 평균속도, 도로명, 시작지점명, 도착지점명, 통과제한차량]
X_train = train.drop(['id','base_date', 'target','road_name', 'start_node_name', 'end_node_name','vehicle_restricted'], axis=1)

test = test.drop(['id','base_date', 'road_name', 'start_node_name', 'end_node_name','vehicle_restricted'], axis=1)

print(X_train.shape)
print(y_train.shape)
print(test.shape)

(1048575, 20)
(1048575,)
(291241, 16)

In [7]:
A=train[train['road_name']=='-'].index

In [8]:
train.drop(A,axis='index',inplace=True)

In [9]:
train.head()

,id,base_date,day_of_week,base_hour,lane_count,road_rating,road_name,multi_linked,connect_code,maximum_speed_limit,...,start_turn_restricted,end_node_name,end_latitude,end_longitude,end_turn_restricted,target,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,TRAIN_0000000,20220623,1,17,1,106,지방도1112호선,0,0,60,...,8,제3교래교,33.42774877,126.662335,15,52,None,NaN,None,NaN
1,TRAIN_0000001,20220728,1,21,2,103,일반국도11호선,0,0,60,...,9,KAL사거리,33.5048113,126.5262401,15,30,None,NaN,None,NaN
2,TRAIN_0000002,20211010,4,7,2,103,일반국도16호선,0,0,80,...,8,상창육교,33.2800721,126.3621475,15,61,None,NaN,None,NaN
3,TRAIN_0000003,20220311,0,13,2,107,태평로,0,0,50,...,8,서현주택,33.2455654,126.5662282,15,20,None,NaN,None,NaN
4,TRAIN_0000004,20211005,6,8,2,103,일반국도12호선,0,0,80,...,8,애월입구,33.46267677,126.3301518,15,38,None,NaN,None,NaN

In [10]:
train=train.drop(['Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26'],axis=1)

In [15]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 20 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   day_of_week            1048575 non-null  int32
 1   base_hour              1048575 non-null  int64
 2   lane_count             1048575 non-null  int64
 3   road_rating            1048575 non-null  int64
 4   multi_linked           1048575 non-null  int64
 5   connect_code           1048575 non-null  int64
 6   maximum_speed_limit    1048575 non-null  int64
 7   weight_restricted      1048575 non-null  int64
 8   height_restricted      1048575 non-null  int64
 9   road_type              1048575 non-null  int64
 10  start_latitude         1048575 non-null  object
 11  start_longitude        1048575 non-null  object
 12  start_turn_restricted  1048575 non-null  int32
 13  end_latitude           1048575 non-null  object
 14  end_longitude          1048575 non-null  object
 15  end_turn_restricted    1048575 non-null  int32
 16  Unnamed: 23            20888 non-null    object
 17  Unnamed: 24            13387 non-null    float64
 18  Unnamed: 25            159 non-null      object
 19  Unnamed: 26            159 non-null      float64
dtypes: float64(2), int32(3), int64(9), object(6)
memory usage: 148.0+ MB

In [11]:
# 도로명 중 중복값 
#train[train['road_name'].duplicated()]

In [12]:
# 4번 일요일 5번 토요일
train['weekend']=0
train.loc[train['day_of_week'] == 4,'weekend'] = 1
train.loc[train['day_of_week'] == 5,'weekend'] = 1

In [17]:
train['start_latitude'].unique()

array(['33.42774727', '33.50073043', '33.2791451', '33.24608087',
       '33.46221435', '33.2499487', '33.48239171', '33.25307382',
       '33.36171667', '33.4194234', '33.24850523', '33.48570693',
       '33.26411158', '33.47800071', '33.4858849', '33.45242292',
       '33.46222797', '33.46531818', '33.50010333', '33.27816804',
       '33.51846796', '33.25194718', '33.29173073', '33.25060425',
       '33.48194055', '33.48005319', '33.43917961', '33.51439002',
       '33.2455654', '33.39397204', '33.48570433', '33.49007787',
       '33.4710608', '33.45358486', '33.24487138', '33.46492456',
       '33.45173081', '33.52029216', '33.40618113', '33.2996578',
       '33.41294463', '33.48366058', '33.51972627', '33.26506545',
       '33.24699594', '33.38173029', '33.29174712', '33.47505427',
       '33.47349412', '33.43379415', '33.25218326', '33.24760701',
       '33.51157865', '33.25678487', '33.25462828', '33.40891283',
       '33.41947947', '33.3115379', '33.28563828', '33.47630837',
       '33.24460088', '33.28359298', '33.40870891', '33.48086417',
       '33.43074183', '33.47544604', '33.45190082', '33.38816135',
       '33.25188402', '33.35050375', '33.52919384', '33.2579776',
       '33.46334162', '33.27229128', '33.24738789', '33.39018743',
       '33.24849066', '33.5193379', '33.50846368', '33.35180611',
       '33.45932544', '33.26207532', '33.47774656', '33.26097',
       '33.41473315', '33.46677718', '33.24863305', '33.48763274',
       '33.43099305', '33.30871407', '33.50734912', '33.41242134',
       '33.4863269', '33.33684849', '33.37214047', '33.37872396',
       '33.25271174', '33.5493303', '33.2800721', '33.4206955',
       '33.25453079', '33.26421696', '33.45029363', '33.50290012',
       '33.30535879', '33.49366105', '33.36447103', '33.39236592',
       '33.45239637', '33.46586327', '33.41799613', '33.52139902',
       '33.43594118', '33.48067877', '33.41315783', '33.49476271',
       '33.369081', '33.25620367', '33.39866184', '33.35609812',
       '33.25922914', '33.24537488', '33.24958273', '33.24950478',
       '33.51831121', '33.43794649', '33.48913234', '33.53912789',
       '33.4852643', '33.45796664', '33.47048337', '33.29011606',
       '33.30702787', '33.49271777', '33.4809459', '33.4670543',
       '33.39633387', '33.26874885', '33.2581194', '33.28986081',
       '33.48371902', '33.46690655', '33.46112874', '33.49184811',
       '33.39422804', '33.49354559', '33.50437759', '33.48116441',
       '33.25171631', '33.49532074', '33.25644875', '33.4765877',
       '33.25180699', '33.35142558', '33.29862445', '33.24955133',
       '33.2542335', '33.50908359', '33.28008438', '33.45140357',
       '33.34307858', '33.28608305', '33.43483383', '33.39845152',
       '33.38808893', '33.25114646', '33.32092071', '33.46991779',
       '33.35427756', '33.25142615', '33.25509362', '33.49749996',
       '33.50738402', '33.24515022', '33.49492902', '33.47619935',
       '33.26604001', '33.25100258', '33.49997271', '33.30079609',
       '33.44499601', '33.50179512', '33.25412867', '33.25044088',
       '33.32285075', '33.25320032', '33.26175648', '33.51370852',
       '33.25908582', '33.49984849', '33.42395481', '33.46309015',
       '33.52132252', '33.43886651', '33.26614536', '33.39493462',
       '33.25865301', '33.43355818', '33.41532599', '33.43655039',
       '33.34882818', '33.44640876', '33.46935202', '33.28277136',
       '33.2641172', '33.33675593', '33.49398555', '33.30111398', '삼양2동',
       '33.38216139', '33.36928075', '33.48201609', '33.42884064',
       '33.46015657', '33.36433621', '33.30586722', '33.51420546',
       '33.48600015', '33.27537379', '33.49688749', '33.25850712',
       '33.48132362', '33.45570243', '33.24615049', '33.54008902',
       '33.26268998', '33.43902603', '33.49486734', '33.25161437',
       '33.2776611', '33.48548899', '33.4198282', '33.42110925',
       '33.25713006', '33.47281887', '33.26368492', '33.53681631',
       '33.43956889', '33.28011527', '33.42411444', '33.3493202',
       '33.45332356', '33.43774362', '33.46441438', '33.49362371',
       '33.45319943', '시종점', '33.45258662', '33.29189246', '33.50835868',
       '33.25061121', '33.43669035', '33.48993959', '33.25239002',
       '33.25566299', '33.25895957', '33.2659882', '33.44101921',
       '33.52109762', '33.45211724', '33.46095193', '33.46973116',
       '33.25565928', '33.41833861', '33.25063952', '33.25920567',
       '33.50077249', '33.26051257', '33.4935504', '33.4898944',
       '33.25989768', '33.47147561', '33.50972896', '33.25889993',
       '33.49227234', '33.49662302', '33.24691218', '33.47037218',
       '33.4886513', '33.49318415', '33.39121049', '33.25364754',
       '33.26005584', '33.42434306', '33.50871152', '33.25104534',
       '33.25201851', '33.24902907', '33.25528637', '33.43586063',
       '33.42043547', '33.40603706', '33.44335781', '33.49468405',
       '33.48214383', '33.36750621', '33.32690849', '33.42774877',
       '33.50013221', '33.26543057', '33.54607809', '33.40484852',
       '33.55158518', '33.49526871', '33.5133334', '33.43458065',
       '33.25510608', '33.4709247', '33.43879472', '33.39318943',
       '33.5048113', '33.25421385', '33.25279788', '33.50000521',
       '33.45268849', '33.50033009', '33.26536496', '33.54674421',
       '33.2593906', '33.51550099', '33.31874609', '33.39203469',
       '33.43832852', '33.29561071', '33.51680009', '33.25115167',
       '33.37451461', '33.50405852', '33.44645577', '33.49379259',
       '33.32363012', '33.35027068', '33.26017786', '33.49217775',
       '33.49359809', '33.39437297', '33.42179327', '33.25067072',
       '33.25259756', '33.3212695', '33.26493695', '33.46866411',
       '33.25999524', '33.25426833', '33.39531104', '33.29893758',
       '33.49410621', '33.47825734', '33.352105', '33.32319724',
       '33.44505434', '33.49932021', '33.51342927', '33.25334833',
       '33.55430203', '33.26514008', '33.51874046', '33.26498152',
       '33.25109518', '33.25489604', '33.34830472', '33.32381708',
       '33.45273432', '33.5189868', '33.3750433', '33.48869949',
       '33.54788772', '33.39228048', '33.48070302', '33.25752155',
       '33.25421588', '33.25521527', '33.43724855', '33.42442791',
       '33.50610249', '33.47507833', '33.28597384', '33.52552458',
       '33.43893867', '33.26458624', '33.27988259', '33.25181211',
       '33.2913585', '33.48102712', '33.25109154', '33.28156341',
       '33.47860499', '33.25926575', '33.47895896', '33.26362402',
       '33.25651707', '33.52132855', '33.4761234', '33.49186274',
       '33.46798911', '33.55531584', '33.25740972', '33.25798293',
       '33.34869123', '33.26323871', '33.50325443', '33.49269915',
       '33.28096324', '33.43196374', '33.3494944', '33.26022369',
       '33.52786749', '33.30823577', '33.29140408', '33.28582287',
       '33.49815102', '33.43598701', '33.25478224', '163', '33.37444066',
       '33.4458473', '33.44589305', '33.24952743', '33.49233477',
       '33.48343276', '33.25062354', '33.47525579', '33.49222349',
       '33.30846486', '33.25747368', '33.31244883', '33.42938922',
       '33.35983852', '33.52988893', '33.44359628', '33.2616899',
       '33.3446284', '33.49942652', '33.50810821', '33.27504418',
       '33.51671008', '33.4441208', '33.5370849', '33.49537665',
       '33.52766134', '33.262025', '33.24705252', '33.25461205',
       '33.25740064', '33.27460469', '33.48597496', '33.49303565',
       '33.38753796', '33.53478306', '33.26165513', '33.42267243',
       '33.49836346', '33.48655916', '33.55067474', '33.49253918',
       '33.44718271', '33.33715839', '33.32155192', '33.49156678',
       '33.51838292', '33.34105952', '33.51832721', '33.34682945',
       '33.48358859', '33.4104234', '33.49420549', '33.24871637',
       '33.49406687', '33.46029035', '33.26038218', '33.25251018',
       '33.26127014', '33.25558113', '33.25057567', '33.4780366',
       '33.5000204', '33.43497968', '33.24451183', '33.45334604',
       '33.36130848', '33.26359264', '33.26878069', '33.46267677',
       '33.4610546', '33.38360043', '33.3123352', '33.3720564',
       '33.25205196', '33.48839527', '33.31250903', '33.25926966',
       '33.26266241', '33.41401069', '33.47779896', '33.45879893',
       '33.4379355', '33.31530839', '33.46286948', '33.31511096',
       '33.4705219', '33.27222185', '33.5535247', '33.48916099',
       '33.47744524', '호근동', '33.30697912', '33.4710263', '33.28217809',
       '33.48233227', '33.34523966', '33.31745884', '33.45276347',
       '33.35835788', '33.49172865'], dtype=object)

In [14]:

d_train = lgb.Dataset(X_train, label=y_train)
params = {}
params['learning_rate'] = 0.003
params['boosting_type'] = 'gbdt'
params['objective'] = 'regression'
params['metric'] = 'mean absolute error'
params['sub_feature'] = 0.5
params['num_leaves'] = 10
params['min_data'] = 50
params['max_depth'] = 10
clf = lgb.train(params, d_train, 100)

ValueError: DataFrame.dtypes for data must be int, float or bool.
Did not expect the data types in the following fields: start_latitude, start_longitude, end_latitude, end_longitude, Unnamed: 23, Unnamed: 25

In [ ]:
y_pred=clf.predict(x_test)

In [ ]:
params = {
    'n_estimators': [500, 1000], 
    'learning_rate': [0.1, 0.05, 0.01], 
    'max_depth': [7, 8], 
    'colsample_bytree': [0.8, 0.9], 
    'subsample': [0.8, 0.9,],
}

In [ ]:
grid_search = GridSearchCV(LGBMRegressor(), params, cv=3, n_jobs=-1, scoring='mean absolute error')
grid_search.fit(X_train, y_train)